.mainHero {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../Images/Main/midamHeroImg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vw;
}

.logoBackground {
    background-color: white;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    left: 15%;
}

.mainLogo {
    width: 15vw;
}